body {
    margin: 0; /* setting the margin & padding to 0 on the body can help promote more consistent rendering accross browsers */
    padding: 0;
    background-color: RGB(200, 180, 200); /* colors can be specified in RGB, hex code, or in limited cases by name */
}

#container {
    width: 33%; /* dimensions can be in pixels, percentage or "em's" */
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
}

div.content {
    margin: 5px;
    padding: 1em;
    background-color: #6699FF;
    text-align: center;
    border-width: 3px;
    border-style: dashed;
    border-color: red;
}
