body {
    margin: 0;
    padding: 0;
    background-color: #99FF99;
}

#container {
    width: 33%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

div.content {
    margin: 5px;
    padding: 1em;
    background-color: #6699FF;
    text-align: center;
    border-width: 1px;
    border-style: dashed;
    boder-color: red;
}
